@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f5f7;
  border-radius: 15px;
}

.container {
  min-height: 480px;
  background-color: #fff;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  width: 750px;
  overflow: hidden;
  position: relative;
}

.box {
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-1 {
  height: 100%;
  width: 50%;
  z-index: 2;
  -webkit-transition: all .65s ease-in-out;
  transition: all .65s ease-in-out;
}

.box-2 {
  height: 100%;
  width: 50%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all .65s ease-in-out;
  transition: all .65s ease-in-out;
}

.right-1 {
  height: 100%;
  left: 50%;
  background-color: #e63946;
  z-index: 3;
  text-align: center;
  width: 50%;
  -webkit-transition: all .65s ease-in-out;
  transition: all .65s ease-in-out;
}

.right-2 {
  height: 100%;
  width: 50%;
  z-index: 0;
  opacity: 0;
  text-align: center;
  background-color: #e63946;
  -webkit-transition: all .65s ease-in-out;
  transition: all .65s ease-in-out;
}

.container.right-panel-active .box-1 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.container.right-panel-active .right-1 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 0;
  opacity: 0;
}

.container.right-panel-active .box-2 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show .6s;
          animation: show .6s;
}

.container.right-panel-active .right-2 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  z-index: 999;
}

@-webkit-keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #333;
  width: 35px;
  height: 35px;
  margin: 0 6px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: .25s;
  transition: .25s;
}

.social-container a:hover {
  background-color: #e63946;
  color: #fff;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 50px;
}

form input {
  background-color: #eee;
  padding: 12px 35px;
  margin: 8px 0;
  border: none;
  width: 100%;
  border-radius: 5px;
}

form input:focus {
  outline: 0;
  border: 1px solid #e63946;
}

form .btn {
  margin-top: 25px;
}

.btn {
  padding: 12px 35px;
  background-color: #e63946;
  border: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: .24s;
  transition: .24s;
}

.btn:hover {
  background-color: #d82433;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.right-1, .right-2 {
  color: #fff;
}

.right-1 p, .right-2 p {
  margin: 15px 0;
}

.right-1 .btn-right, .right-2 .btn-right {
  padding: 12px 35px;
  background-color: #e63946;
  border: 1px Solid #fff;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.right-1 .btn-right:hover, .right-2 .btn-right:hover {
  cursor: pointer;
}

.right-1 .btn-right:focus, .right-2 .btn-right:focus {
  outline: 0;
}
/*# sourceMappingURL=style.css.map */